.titre {
  text-align: center;
}

.grouped {
  float: left;
  padding: 4px 30px 4px 4px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  margin-right: 8px;
  list-style: none;
  margin-top: 3px;
  position: relative;
  border-radius: 4px;
}

.removelist {
  position: absolute;
  top: -9px;
  right: -5px;
  padding: 3px;
  border-radius: 10px;
}

.alert {
  display: block;
}
