<div class="jumbotron">
  <h1>Authentification</h1>
  <form name="connexionForm">
    <span>Pseudo: </span>
    <input type="text" placeholder="Entre ton pseudo..." ng-model="pseudo" required/></br></br>
    <span>Mot de passe: </span>
    <input type="password" placeholder="Entre ton mot de passe..." ng-model="pwd" required/></br></br>
  </form>
  </br>
  <button class="btn btn-lg btn-success" ng-disabled="!connexionForm.$valid" ng-click="login()">Connexion <span class="glyphicon glyphicon-ok"></span></button>
</div>
