<div ng-show="!loadOK">
  <span>Choisissez un titre : </span>
  <select ng-options="music.song for music in musics" ng-model="selectedMusic" ng-change="searchMixes(selectedMusic);
  musicChanged=true">
    <option value="">Liste des titres </option>
    <option>bouh</option>
  </select>
  </br></br>
  <span>Mixages disponibles pour "{{selectedMusic.song}}":</span>
  <select ng-options="mix.name for mix in mixes" ng-model="selectedMix">
    <option value="">Liste des mixes</option>
  </select>
  <button class="btn btn-primary" ng-click="loadMusic()" ng-disabled="!musicChanged">Charger</button>
</div>

<div ng-show="loadOK">
  <h2>{{selectedMix}}</h2>
  <button class="glyphicon glyphicon-menu-left btn btn-primary" ng-click="loadOK=false">Retour</button>
  </br>
  <div class="col-sm-6 pull-right" ng-init="showSlider=false">
    <button class="glyphicon glyphicon-play btn btn-success btn-circle" ng-click="playSong()" ng-disabled="!musicChanged"></button>
    <button class="glyphicon glyphicon-pause btn btn-warning btn-circle" ng-click="pauseSong()" ng-disabled="!musicChanged"></button>
    <button class="glyphicon glyphicon-stop btn btn-danger btn-circle" ng-click="stopSong()" ng-disabled="!musicChanged"></button>
    <button class="btn btn-default btn-circle glyphicon glyphicon-volume-down" ng-click="showSlider=!showSlider"></button>
    <input ng-show="showSlider" type="range" min="0" max="1" step="0.1" ng-model="volume" ng-change="volumeChanged()"/>
  </div>
  <div class="col-sm-12" style="margin-top: 20%;">
    <ul class="list-inline">
      <li ng-repeat="track in song.tracks">
        {{track.name}}
        <input type="range" min="0" max="1" step="0.1" ng-model="volumeTrack[$index]" ng-change="volumeTrackChanged($index,track)"/>
        {{volumeTrack[$index]}}
        <button id='{{$index}}' class="btn btn-default btn-circle glyphicon glyphicon-volume-off" ng-click="muteTrack($index,track)"></button>
      </li>
    </ul>
  </div>

</div>
