<div ng-show="!loadOK">
  <span>Choisissez un titre : </span>
  <select ng-options="music.song for music in musics" ng-model="selectedMusic" ng-change="searchMixes(selectedMusic);
  musicChanged=true">
    <option value="">Liste des titres </option>
    <option>bouh</option>
  </select>
  </br></br>
  <span>Mixages disponibles pour "{{selectedMusic.song}}":</span>
  <select ng-options="mix.name for mix in mixes" ng-model="selectedMix">
    <option value="">Liste des mixes</option>
  </select>
  <button class="btn btn-primary" ng-click="loadMusic()" ng-disabled="!musicChanged">Charger</button>
  <button class="btn btn-primary" ng-click="playSong()" ng-disabled="!musicChanged">Lire</button>
</div>

<div ng-show="loadOK">
  <h2>{{selectedMix}}</h2>

</div>
