<div class="jumbotron">
  <h1>Inscription</h1>
  <form>
    <span>Pseudo: </span>
    <input type="text" placeholder="Entre ton pseudo..." ng-model="pseudo"/></br></br>
    <span>Choisis ton niveau de droit: </span></br>
    <input type="checkbox" ng-model="normal">Je veux pouvoir écouter des musiques, faire des mixages et mettre des commentaires
    </br>
    <input type="checkbox" ng-model="admin">Je veux pouvoir écouter, créer et supprimer des mixages
  </form>
  </br>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Enregistrer<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
